<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			ZOO Homepage
		</title>
		<!-- META tags -->
		<meta name="viewport" content-"width=device-width, initial-scale=1.0">
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../styles/website-style.css">
		<link rel="stylesheet" type="text/css" href="../styles/main-style.css">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>

		<%- include('../templates/header.partial.ejs', {}); %>

	  <div id="main--body">

			<div id="main--footer-setup">

				<div id="main--content">

					<div class="gallery js-flickity"
					  data-flickity-options='{ "wrapAround": true, "autoPlay": 3000, "resize": true}'>
						<div class="gallery-cell">
							<img src="/main/assets/MainBanner.png">
						</div>
						<div class="gallery-cell">
							<img src="/main/assets/CouncilGroup.png">
						</div>
						<div class="gallery-cell">
							<img src="/main/assets/CouncilGroup2.png">
						</div>
					</div>

					<div id="about">
						<h2 id="main-title">About Us</h2>
						<p>The University of Calgary's Electrical, Computer, and Software Engineering Students' Society, affectionally referred to as ZOO, is an initiative run by students, for students. ZOO aims to support their undergraduate students, both academically and socially, by providing them with a variety of events to enrich their University experience. Through the Society, we hope assist students in clearing the gap between university and industry. </p><br>

						<p> In addition to those responsibilities, ZOO serves as a liason between the Department (ECE) and the many Electrical, Software and Computer Engineering students. We work hard to represent your opinions and ensure that your voices are heard.</p></br>

						<p>Any inquiries for ZOO can be voiced in-person in ENA 106, or via email to execs@zooengg.ca. We will attempt to answer questions to the best of are ability and if necessary, direct you to the relevant Department employee.</p><br>
						<hr>
						<p id="about--constitution">ZOO abides by the Club Constitution</p>
					</div>
					<!-- Flexbox didn't work without the insertion of <p> -->
					<p></p>
				</div>
			</div>
		</div>


	  <%- include('../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="/scripts/to-top.js"></script>
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

	</body>
</html>
