<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->

<!DOCTYPE html>
<html>
	<head>
		<title>
			ZOO Homepage
		</title>
		<style>
			.slides {display: none;}
			img {vertical-align: middle;}
		</style>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../styles/website-template.css">
	</head>
	
	<body>
		<%- include('../templates/header.partial.ejs', {}); %>

		<div class="slideshow-container">	
			<div class="slides fade">
				<img src="../main/image1.png" style="width:100%">
			</div>
	
			<div class="slides fade">
				<img src="../main/image2.png" style="width:100%">
			</div>


			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			<a class="next" onclick="plusSlides(1)">&#10095;</a>
		</div>
		
		<div class="dot-group" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
		</div>

		<br>
		<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzooengg&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

		<%- include('../templates/footer.partial.ejs', {}); %>

		<script src="../scripts/to-top.js"></script>
		<script src="../scripts/slide-show.js"></script>
	</body>
</html>
