body {
    font-family: 'Josefin Slab', serif;
}
#site {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 935px;
}
#error {
    display: none;
}
.movieElement {
    width: 640px;
    height: 360px;
}
.awardTitle {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
}
.awardI {
    height: 80px;
    display: inline-block;
}
.award {
    display: inline-block;
    position: relative;
    font-family: 'Playfair Display SC', serif;
    font-size: 13px;
    cursor: default;
    margin: 10px;
}
.awardIRight {
    margin-left: 53px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
#movie_awards {
    display: inline-block;
    width: 287px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#canvas {
    position: relative;
    height: 100%;
    width: 100%;
    background: #ebe8e8;
    overflow: scroll;
}
#movie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#twr {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 600px
}
#bwr {
    position: relative;
    width: 923px;
}
#movie_src {
    display: inline-block;
    width: 640px;
    height: 360px;
    border: 1px solid black;
    position: relative;
}
#movie_title {
    font-size: 50px;
}
#movie_year {
    position: absolute;
    left: 0;
}
#movie_dept {
    position: absolute;
    right: 0;
}
#movieer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#movie_rating {
    position: absolute;
    left: 71px;
    transform: translateY(-4px);
}
#header {
    height: 100px;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    background: #ebe8e8
}
#header a {
    padding: 10px;
}
#footer {
    height: 77px;
    z-index: 2;
    border-top: 1px solid black;
    width: 100%;
    position: relative;
    background: #ebe8e8;
}
.footer-content {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
.l_mw {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 400px;
    text-align: center;
    transform: translateY(-50%);
}
.l_awards {
    display: inline-block;
    margin-left: 400px;
}
.l_movie {
    position: relative;
    min-height: 100px;
}
.l_movie:hover {
    cursor: pointer;
    background: #aba9a9;
}


.l_movie a {
    z-index: 100;
}
.l_movie a:hover {
    color: red;
}







.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    overflow: hidden;
}
.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #00b1fc;
}
.empty-stars:before, .full-stars:before {
    content:"\2605\2605\2605\2605\2605";
    font-size: 14pt;
}
.empty-stars:before {
    -webkit-text-stroke: 1px #00b1fc;
}
.full-stars:before {
    -webkit-text-stroke: 1px #00b1fc;
}
@-moz-document url-prefix() {
    .full-stars {
        color: #00b1fc;
    }
}
<!--[if IE]> .full-stars {
    color: #00b1fc;
}
<![endif]-->
