<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			Become a Sponsor
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="/styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../../styles/sponsor-form-template.css">

		<!-- Scripts -->
		<script src="/scripts/to-top.js"></script>
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


	  <div id="container">
			<div id="main">

			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

	</body>
</html>
