<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Website Created in 2020 by Ines Rosito.
-->
	<head>
		<title>
			Become a Sponsor
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="/styles/website-style.css">
		<link rel="stylesheet" type="text/css" href="../../styles/sponsor-form-style.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="sponsor--body">
			<div id="sponsor--footer-setup">
				<div id="sponsor--content">
					<div id="sponsor-reasoning">
						<h1> Reasons to Sponsor</h1>
						<p> Over the past few years, there has been significant growth in the students enrolling into Software and Electrical Engineering. Therefore, as the Electrical, Computer, and Software Engineering Student's Society, it is our goal to ensure that these students are provided with the necessary resources to succeed in and out of the classroom. Ensuring a smooth transition from Post-Secondary to Industry is cruical as these will be the front-runners in the tehnological field in Calgary and the rest of the world. Through the help of our corporate sponsors, we will be able to _____</p><br>
						<p> Insert info about what events we will coordinate_______. For more details please review the Corporate Sponsorship Package below</p><br>
						<p>Insert text about how we accept sponsorships outtside of just monteary stuff</p><br><br>
						<a class="button" id="corporate-button" href="/sponsors/assets/CorporateSponsorPackage.pdf" target="_blank">Corporate Sponsorship</a>
					</div>

					<div id="sponsor-form">
						<h1>Contact Us About Sponsorships!</h1>
						<p>We look forward to hearing from you.</p>
						<form id="grid" action="">
							<label id="name" for="name">Name *</label>
							<label id="fname" for="fname">First Name</label>
							<input required id="fname-box" type="text" name="firstname" placeholder="First Name">

							<label id="lname" for="lname">Last Name</label>
							<input required id="lname-box" type="text" name="lastname" placeholder="Last Name">

							<label id="email" for="email">Email *</label>
							<input required id="email-box" type="text" name="email" placeholder="Email">

							<label id="company" for="company">Company/Organization</label>
							<input id="company-box" type="text" name="company" placeholder="Company/Organization">

							<label id="subject" for="subject">Subject *</label>
							<input required id="subject-box" type="text" name="subject" placeholder="Subject">

							<label id="message" for="comment">Message *</label>
							<textarea required maxlength="6000" id="message-box" name="message" placeholder="Message (6000 char. limit)"></textarea>

							<input id="submit" type="submit" value="Submit">

						</form>
					</div>
				</div>
			</div>
		</div>

		<%- include('../../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>

	</body>
	</html>
