<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			Become a Sponsor
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="/styles/website-style.css">
		<link rel="stylesheet" type="text/css" href="../../styles/sponsor-form-style.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


	  <div id="container">
			<div id="main">
				BECOME A SPONSOR -
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>

	</body>
</html>
