<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
<html>
	<head>
		<title>
			ZOO Sponsors
		</title>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../styles/website-template.css">
	</head>
	
	<body>	
		<%- include('../templates/header.partial.ejs', {}); %>
		<%- include('../templates/footer.partial.ejs', {}); %>
		
		<script src="../scripts/to-top.js"></script>
	</body>
</html>
