<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			ZOO Commissioners
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../../styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../../styles/council-comm-template.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="comm--body">
			<div id="comm--footer-setup">
				<div id="comm--content">

					<h2 id="comm-title">ZOO Commissioners: 2020 - 2021</h2>

				<div id="profile-cards">
					<div class="commissioners">
						<b>2nd/3rd/4th Year Representative:</b><br>
						Act as a bridge between the Society and it's members; make announcements to your year and compile feedback to your society.
					</div>

					<div class="commissioners">
						<b>Academic Events Commissioner:</b><br>
						Coordinates with the VP Events to plan and host academic-oriented events.
					</div>

					<div class="commissioners">
						<b>Artistic Commissioner:</b><br>
						Create and distribute posters for Society's events.
						<br><b>Commissioners:</b> Ines Rosito
					</div>

					<div class="commissioners">
						<b>Frosh/Engg Week Director:</b><br>
						Direct the Society's involvement in Frosh and Engg Week.
					</div>

					<div class="commissioners">
						<b>Information Technologies Commissioner:</b><br>
						Assist with the maintenance of Society technologies, such as the webserver, Council Emails, and file server.
						<br><b>Commissioners:</b> Ines Rosito
					</div>

					<div class="commissioners">
						<b>Operations Commissioner:</b><br>
						Assist the VP External and Internal with their duties (intra/inter society communications)
					</div>

					<div class="commissioners">
						<b>Professional Development Commissioner:</b><br>
						Coordinate with the VP Events to plan and host professional development events.
					</div>

					<div class="commissioners">
						<b>Promotions Commissioner:</b><br>
						Coordinate with the VP Events and Artistic Commissioner to promote Society events.
					</div>

					<div class="commissioners">
						<b>Social Events Commissioner:</b><br>
						Coordinate with the VP Events to plan and host social-oriented events.
					</div>

					<div class="commissioners">
						<b>Sponsorship Commissioner:</b><br>
						Ensure the financial needs of the Society are met; reach out to organizations seeking sponsorship; update the sponsorship package.
					</div>

					<div class="commissioners">
						<b>Webmaster:</b><br>
						Maintain the council website (zooengg.ca)
						<br><b>Commissioners:</b> Ines Rosito
					</div>

					<div class="commissioners">
						<b>Zoo Trip Director:</b><br>
						Plan and coordinate the annual reading week trip to Silicon Valley
					</div>

				</div>

				<div id="back">
					<div id="button">Join the Team</div>
				</div>

				</div>
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

	</body>
</html>
