<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Website Created in 2020 by Ines Rosito.
-->
	<head>
		<title>
			ZOO Commissioners
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../../styles/website-style.css">
		<link rel="stylesheet" type="text/css" href="../../styles/council-comm-style.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="comm--body">
			<div id="comm--footer-setup">
				<div id="comm--content">

					<h2 id="comm-title">ZOO Commissioners: 2020 - 2021</h2>
					<p id="page-description">The work we do would not be possible without the help of our many commissioners. The following are all the Society&#39;s current Commissioner positions, and those  taking on the responsibilities for the school year!</p>
					<p id="page-description2">If you're interested, click the button to learn how to apply.</p>

					<div id="back">
						<div id="button" onclick="location.href='/council/applications/index.php'">Join the Team!</div>
					</div>

				<div id="profile-buffer">
					<div id="profile-cards">
						<div class="commissioners">
							<b>2nd/3rd/4th Year Representative:</b><br>
							<p class="comm-description">Reps act as a bridge between the Society and its members, announcing major Society events to peers in your year.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Academic Events Commissioner:</b><br>
							<p class="comm-description">In this role, you will coordinate with VP Academic and Events to plan and host various academic-oriented events.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Artistic Commissioner:</b><br>
							<p class="comm-description">In this role, you will be responsible for creating, distributing, and promoting posters for various Society events.</p>
							<br><b>Active Commissioner(s):</b>
							<p>Ines Rosito</p>
						</div>

						<div class="commissioners">
							<b>ENGG/Frosh Week Director:</b><br>
							<p class="comm-description">In this role, you will direct the Society&#39;s involvement in Frosh and ENGG week. Includes recruiting, participation, etc.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Operations Commissioner:</b><br>
							<p class="comm-description">In this role, you will assist VP External and Internal with their duties of inter- and intra-Society communication.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Professional Development Commissioner:</b><br>
							<p class="comm-description">In this role, you will coordinate with VP External and Events to plan and host various professional development events.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Social Events Commissioner:</b><br>
							<p class="comm-description">In this role, you will coordinate with VP Events to plan and host various social-oriented events.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Sponsorship Commissioner:</b><br>
							<p class="comm-description">In this role, you will coordinate with VP Finance to ensure that the financial needs of the Society are met by securing sponsorships. You will be reaching out to companies and sharing our sponsorship package, which you will help update.</p>
							<br><b>Active Commissioner(s):</b>
							<p><!--Insert Names of Commissioners --> </p>
						</div>

						<div class="commissioners">
							<b>Webmaster:</b><br>
							<p class="comm-description">As Webmaster, you are the core individual responsible for maintaining all the Society&#39;s technologies, which include a website (zooengg.ca), webserver, fileserver, and Council emails.</p>
							<br><b>Active Commissioner(s):</b>
							<p>Ines Rosito</p>
						</div>

					</div>
				</div>


				</div>
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>

	</body>
</html>
