<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			ZOO Executives
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../../styles/website-style.css">
		<link rel="stylesheet" type="text/css" href="../../styles/council-exec-style.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>
		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="exec--body">
			<div id="exec--footer-setup">
				<div id="exec--content">

					<h2 id="exec-title">ZOO Executive Council: 2020 - 2021</h2>
					<p id="page-description">Meet the leaders of today working to make things happen for all the Electrical, Software, and Computer Engineering students!</p>

					<div id="profile-buffer">
						<div id="profile-cards">
						<div class="profile">
							<img class="profile-pic" src="/council/assets/president.png" alt="Antoine Bizon" style="width:100%">
							<h1> Antoine Bizon </h1>
							<p class="title"> President </p>
							<p class="bio"> My name is Antoine and I'm going into my final year of software engineering. I took on the role of president this year because I want to help improve the experience for all students in ZOO in the form of new events and new opportunities. I look forward to collaborating with all kinds of people to achieve this goal. </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:president@zooengg.ca"><img title="president@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>

						<div class="profile">
							<img class="profile-pic" src="/council/assets/academic.png" alt="Ashley Brown" style="width:100%">
							<h1> Ashley Brown </h1>
							<p class="title"> VP Academic </p>
							<p class="bio"> -- </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:academic@zooengg.ca"><img title="academic@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>

						<div class="profile">
							<img class="profile-pic" src="/council/assets/finance.png" alt="Alex Mah" style="width:100%">
							<h1> Alex Mah </h1>
							<p class="title"> VP Finance </p>
							<p class="bio"> -- </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:finance@zooengg.ca"><img title="finance@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>

						<div class="profile">
							<img class="profile-pic" src="/council/assets/events.png" alt="Joshua Alvares" style="width:100%">
							<h1> Joshua Alvares </h1>
							<p class="title"> VP Events </p>
							<p class="bio"> -- </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:events@zooengg.ca"><img title="events@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>

						<div class="profile">
							<img class="profile-pic" src="/council/assets/external.png" alt="Wendy Yang" style="width:100%">
							<h1> Wendy Yang </h1>
							<p class="title"> VP External </p>
							<p class="bio"> My name is Wendy Yang and I am in my fourth year of Electrical Engineering with a minor in Computer Engineering. I am looking forward to bringing students valuable opportunities and events through my role as VP External with ZOO! </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:external@zooengg.ca"><img title="external@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>

						<div class="profile">
							<img class="profile-pic" src="/council/assets/internal.png" alt="Rebecca Reid" style="width:100%">
							<h1> Rebecca Reid </h1>
							<p class="title"> VP Internal </p>
							<p class="bio"> -- </p>
							<div style="margin: 20px 0 10px;">
								<a href="mailto:internal@zooengg.ca"><img title="internal@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
							</div>
						</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>

	</body>
</html>
