<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			ZOO Executives
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../../styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../../styles/council-exec-template.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="exec--body">
			<div id="exec--footer-setup">
				<div id="exec--content">

					<h2 id="exec-title">ZOO Executive Council: 2020 - 2021</h2>

					<div id="profile-cards">
					<div class="profile">
						<img class="profile-pic" src="/council/Photos/president.png" alt="Antoine Bizon" style="width:100%">
						<h1> Antoine Bizon </h1>
						<p class="title"> President </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:president@zooengg.ca"><img title="president@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>

					<div class="profile">
						<img class="profile-pic" src="/council/Photos/academic.png" alt="Ashley Brown" style="width:100%">
						<h1> Ashley Brown </h1>
						<p class="title"> VP Academic </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:academic@zooengg.ca"><img title="academic@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>

					<div class="profile">
						<img class="profile-pic" src="/council/Photos/finance.png" alt="Alex Mah" style="width:100%">
						<h1> Alex Mah </h1>
						<p class="title"> VP Finance </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:finance@zooengg.ca"><img title="finance@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>

					<div class="profile">
						<img class="profile-pic" src="/council/Photos/events.png" alt="Joshua Alvares" style="width:100%">
						<h1> Joshua Alvares </h1>
						<p class="title"> VP Events </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:events@zooengg.ca"><img title="events@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>

					<div class="profile">
						<img class="profile-pic" src="/council/Photos/external.png" alt="Wendy Yang" style="width:100%">
						<h1> Wendy Yang </h1>
						<p class="title"> VP External </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:external@zooengg.ca"><img title="external@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>

					<div class="profile">
						<img class="profile-pic" src="/council/Photos/internal.png" alt="Rebecca Reid" style="width:100%">
						<h1> Rebecca Reid </h1>
						<p class="title"> VP Internal </p>
						<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
						<div style="margin: 20px 0 10px;">
							<a href="mailto:internal@zooengg.ca"><img title="internal@zooengg.ca" class="mail-pic" src="/icon-images/mail.png"></a>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

	</body>
</html>
