<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->

<!DOCTYPE html>
<html>
	<head>
		<title>
			ZOO Events
		</title>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../styles/events/events-style.css">
		
	</head>
	
	<body>
		<%- include('../templates/header.partial.ejs',{}); %>

		<div class="container">
			<div class="mySlides">
				<div class="numbertext">1 / 6</div>
				<img src="image1.png" style="width:100%">
			</div>
			
			<div class="mySlides">
				<div class="numbertext">2 / 6</div>
				<img src="image2.png" style="width:100%">
			</div>
			
			<div class="mySlides">
				<div class="numbertext">3 / 6</div>
				<img src="image3.png" style="width:100%">
			</div>
		</div>
		
		<a class="prev" onclick="plusSlides(-1)">((</a>
		<a class="next" onclick="plusSlides(1)">))</a>
		
		<div class="caption-container">
			<p id="caption"></p>
		</div>

		<div class="row">
			<div class="column">
				<img class="demo cursor" src="image1.png" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
			</div>
			<div class="column">
				<img class="demo cursor" src="image2.png" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
			</div>
			<div class="column">
				<img class="demo cursor" src="image3.png" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
			</div>
		</div>

		<%- include('../templates/footer.partial.ejs', {}); %>
		
		<script src="../scripts/to-top.js"></script>
		<script src="../scripts/slide-show-gallery.js"></script>

	</body>
</html>
