<!DOCTYPE html>
<html lang="en" dir="ltr">
<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
	<head>
		<title>
			Council Applications
		</title>
		<!-- Style Guides -->
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../../styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../../styles/council-app-template.css">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="/icon-images/favicon.png">
	</head>

  <body>

		<%- include('../../templates/header.partial.ejs', {}); %>


		<div id="app--body">
			<div id="app--footer-setup">
				<div id="app--content">
					<div id="app-picture">
						APPLICATION

					</div>
					<div id="app-form">
						<form action="">

						    <label for="fname">First Name</label>
						    <input type="text" id="fname" name="firstname" placeholder="Your name..">

						    <label for="lname">Last Name</label>
						    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

						    <label for="country">Country</label>
						    <select id="country" name="country">
						      <option value="australia">Australia</option>
						      <option value="canada">Canada</option>
						      <option value="usa">USA</option>
						    </select>

						    <label for="subject">Subject</label>
						    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

						    <input type="submit" value="Submit">

						  </form>
						</form>
					</div>
				</div>
			</div>
		</div>

	  <%- include('../../templates/footer.partial.ejs', {}); %>

		<!-- Scripts -->
		<script src="../../scripts/to-top.js"></script>

	</body>
</html>
