/* TODO:
		- Fix the font sizes. Make sure they arent huge on cells and small on computers.
		- Fix the spacing between and above/below cards
		- Choose a new header
		- Clean up file
		- Fix to-top
		- Some mobile devices have extra space at the bottom
		- Zoom levels have odd spacing between cards
*/

/* Following is to remove any existing formats */
* {
	margin: 0;
	padding: 0;
	font-family: 'Didact Gothic';
	color: #32292F;
}

html, body {
	height: 100%;
	width: 90%;
	margin: auto; /* Centers content */
}

body {
	/* background: #E3EAEB; */
	/* background: #70ABAF; */
	/* background: #F5F5F5; */
	/* background: #F1F1F1; */
	background: #e7e7ea;
	align-items: center;
}

/* Following is for the FOOTER*/
#comm--body {
	min-height: 100%;
	background: #F7F7FF;
		/* Shadow does not go the complete length of the content */
	/* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); */
}

#comm--footer-setup {
	overflow: auto;
	padding-bottom: 275px;	/* Height of the footer */
	/* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); */
}

/* #comm--content {
	align-items: center;
	margin: auto;
} */

/* Following is for header font changes */
#comm--content #comm-title {
		color: #32292F;
		font-family: 'Ubuntu', normal;
    text-align: center;
    font-size: 35px;
    padding: 50px 0 0;
		/* background-image: linear-gradient(#70ABAF, #F7F7FF); */
}

/* Following sets up the commissioner cards */
#comm--content #page-description {
	padding: 15px 15% 10px;
	text-align: center;
	font-size: 18px;
}

#comm--content #page-description2 {
	padding: 7px 35px 10px;
	text-align: center;
	font-size: 18px;
}


#comm--content #back{
	padding: 5px 0 30px;
	margin: auto;
	width: 160px;
}

#comm--content #profile-buffer {
	padding: 0 24px;
	/* background-image: linear-gradient(#F7F7FF, #70ABAF); */
}

#comm--content #profile-cards{
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px 30px;
	justify-content: space-around;
	align-items: center;

	/* padding: 0 0 7%; */
}

#comm--content .commissioners {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 235px;
	min-height: 130px;
	padding: 20px;
	margin: 0 9px 30px;
	/* margin: auto auto 35px; */
	text-align: center;
	background: #ababab12;
	border-radius: 25px;
}

#comm--content .commissioners .comm-description {padding: 6px 0 0;}

/* The "Join Us Button formatting" */
/* Following is style guide used on TO-TOP BUTTON */
#button {
	  font-size: 20px;
	  border: .5px solid;
	  background-color: #32292F;
	  color: #F7F7FF;
	  cursor: pointer;
	  padding: 10px 15px;
	  border-radius: 4px;
		text-align: center;
}

	/* Removes box that outlines object on click */
#button:active, #button:focus {
  outline: 0;
	-moz-outline-style: none;
}

#button:hover {background-color: #767475;}
