/* Following is to remove any existing formats */
* {
	margin: 0;
	padding: 0;
	font-family: 'Didact Gothic';
	color: #32292F;
}

html, body {
	height: 100%;
	width: 90%;
	margin: auto; /* Centers content */
}

body {
	/* background: #E3EAEB; */
	/* background: #70ABAF; */
	background: #e7e7ea;
		align-items: center;
}

#container {
	min-height: 100%;
	background: #F7F7FF;
}

#main {
	overflow: auto;
	padding-bottom: 300px;	/* Height of the footer */
}
