/* ==== Toplevel Classes ==== */
::-webkit-scrollbar {
    width: 0;
}
.fill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -o-transition: transform 1s, -webkit-transform 1s;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
}
.betterlink {
    text-decoration: none;
    color: #00B1FC;
}
.betterlink:hover {
    cursor: pointer;
    color: #037cb0;
}
.panel {
    background: -webkit-radial-gradient(white, #00B1Fc 100%) !important;
    background: -webkit-gradient(radial, white, #00B1Fc 100%) !important;
    background: -ms-radial-gradient(white, #00B1Fc 100%) !important;
    background: radial-gradient(white, #00B1Fc 100%) !important;
    background: -moz-radial-gradient(white, #00B1Fc 100%) !important;
    background: -o-radial-gradient(white, #00B1Fc 100%) !important;
}
.canvas {
    width: 1000px;
    height: 600px;
}
.center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}
.centerY {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
}
.centerX {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
}
.righthalf {
    right: 0;
    width: 50%;
    height: 600px;
}
.lefthalf {
    left: 0;
    width: 50%;
    height: 600px;
}
.tophalf {
    top: 0;
    height: 50%;
    width: 1000px;
}
.bottomhalf {
    bottom: 0;
    height: 50%;
    width: 1000px;
}
.menu {
    font-family: "Arvo";
    z-index: 1;
    position: absolute;
    height: 100px;
    width: 100px;
    -webkit--border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background: #E88730;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.innercircle {
    height: 80px;
    width:80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    background: #8FDDFE;
    -o-transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
}
.top {
    position: absolute;
    top: 0;
}

/* ==== Site ==== */

#site {
    min-width: 1000px;
    min-height: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Lato";
    background: #00B1FC;
}
#zoo {
    width: 777px;
    height: 600px;
}
#center_panel {
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* ==== Left Pane ==== */

.movingpartleft {
    position: absolute;
    overflow-x: hidden;
    width: 218px;
    height: 35px;
    top: 131px;
    left: 90px;
}
#leftarm {
    left: 197px;
    -o-transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    transition: left 1s;
}
#menu_council {
    top: 100px;
    left: 10px;
}
#menu_council:hover {
    cursor: pointer !important;
}
#menu_council:hover + .movingpartleft img, #menu_council.hovered + .movingpartleft img {
    left: 0;
}
#menu_council:hover .innercircle, #menu_council.hovered .innercircle {
    background: #e9ba8f;
}
#left_panel {
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background: white;
}
#left_panel .canvas {
    background: #D0F1F5;
    box-sizing: border-box;
    transition: border-color 1s;
    -o-transition: border-color 1s;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    border: 10px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}
#leftsecond {
    position: absolute;
    overflow-x: hidden;
    width: 0;
    height: 20px;
    top: 140px;
    right: 479px;
    background: #E88730;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
#leftreturn {
    position: absolute;
    overflow-x: hidden;
    width: 0;
    height: 20px;
    top: 140px;
    background: #E88730;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 0;
}
#menu_leftreturn {
    right: -10px;
    top: 89px;
    -o-transform: background 1s;
    -webkit-transform: background 1s;
    -moz-transform: background 1s;
    -ms-transform: background 1s;
    transform: background 1s;
}
#menu_leftreturn:hover {
    cursor: pointer !important;
}
#left_panel_innertext {
    padding: 10px;
    overflow-x: scroll;
}

/* ==== Right Panel ==== */

#right_panel {
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background: white;
}
#right_panel .canvas {
    box-sizing: border-box;
    transition: border-color 1s;
    -o-transition: border-color 1s;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    border: 10px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    background: #8FDDFE;
}
#menu_events {
    bottom: 29px;
    right: 96px;
}
.movingpartright {
    position: absolute;
    height: 35px;
    width: 0;
    left: 701px;
    bottom: 66px;
    overflow-x: hidden;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
}
#rightarm {
    position: absolute;
    right:0;
}
#menu_events:hover + .movingpartright, #menu_events.hovered + .movingpartright {
    width: 130px;
}
#menu_events:hover .innercircle, #menu_events.hovered .innercircle {
    background: #e9ba8f;
}
#menu_events:hover {
    cursor: pointer !important;
}
#rightsecond {
    position: absolute;
    overflow-x: hidden;
    width: 0;
    height: 20px;
    bottom: 72px;
    left: 400px;
    background: #E88730;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
#rightreturn {
    position: absolute;
    overflow-x: hidden;
    width: 0;
    height: 20px;
    bottom: 72px;
    background: #E88730;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
}
#menu_rightreturn {
    top: 457px;
    left: -9px;
}
#menu_rightreturn:hover {
    cursor: pointer !important;
}
#right_panel_innertext {
    padding: 10px;
    max-width: 880px;
    overflow-y: scroll;
    white-space: nowrap;
}
#right_panel_innertext:first-child {
    padding-left: 100px;
}
#right_panel_innertext img { /* csslint allow: display-property-grouping */
    height: 560px;
    display: inline;
    white-space: nowrap;
}

/* ==== Top Panel ==== */

#menu_about {
    left: 561px;
    top: 22px;
}
.movingpartup {
    position: absolute;
    height: 35px;
    width: 0;
    right: 220px;
    top: 58px;
    overflow-x: hidden;
    transition: width 1s;
    -o-transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
}
#uparm {
    position: absolute;
    left: 0;
}
#menu_about:hover + .movingpartup, #menu_about.hovered + .movingpartup {
    width: 140px;
}
#menu_about:hover .innercircle, #menu_about.hovered .innercircle {
    background: #e9ba8f;
}
#menu_about:hover {
    cursor: pointer !important;
}
#up_panel {
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    background: white;
}
#up_panel .canvas {
    background: #D0F1F5;
    box-sizing: border-box;
    transition: border-color 1s;
    -o-transition: border-color 1s;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    border: 10px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}
#upsecond {
    position: absolute;
    overflow-y: hidden;
    width: 20px;
    height: 0;
    bottom: 269px;
    right: 379px;
    background: #E88730;
    transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
#upreturn {
    position: absolute;
    overflow-y: hidden;
    width: 20px;
    height: 0;
    bottom: 0;
    right: 379px;
    background: #E88730;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    transition: height 1s;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#menu_upreturn {
    bottom: -9px;
    right: 327px;
}
#menu_upreturn:hover {
    cursor: pointer !important;
}
#up_panel_innertext {
    padding: 10px;
    text-align: center;
}
#mediawrapper {
    height: 52px;
    width: 100%;
    position: absolute;
}
#media {
    padding: 10px; /* csslint allow: box-model */
    text-align: center;
    width: 100%;
}
.mediadiv {
    display: inline-block;
}
#twitter-widget-0 {
    padding-right: 10px;
}
#twitter-widget-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.fb-follow {
    padding-left: 10px;
    bottom: 8px;
}
#abouttext {
    position: absolute;
    top: 60px;
    padding: 34px;
    font-size: 18px;
}

/* ==== Bottom Panel ==== */

#menu_sponsers {
    top: 488px;
    left: 284px;
}
.movingpartdown {
    position: absolute;
    height: 0;
    width: 35px;
    left: 318px;
    top: 405px;
    transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    overflow-y: hidden;
}
#downarm {
    position: absolute;
    bottom: 0;
}
#menu_sponsers:hover + .movingpartdown, #menu_sponsers.hovered + .movingpartdown {
    height: 100px;
}
#menu_sponsers:hover .innercircle, #menu_sponsers.hovered .innercircle {
    background: #e9ba8f;
}
#menu_sponsers:hover {
    cursor: pointer !important;
}
#down_panel {
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    background: white;
}
#down_panel .canvas {
    background: #D0F1F5;
    box-sizing: border-box;
    transition: border-color 1s;
    -o-transition: border-color 1s;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    border: 10px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
}
#downsecond {
    position: absolute;
    overflow-y: hidden;
    width: 20px;
    height: 0;
    top: 275px;
    left: 323px;
    background: #E88730;
    transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
#downreturn {
    position: absolute;
    overflow-y: hidden;
    width: 20px;
    height: 0;
    left: 323px;
    background: #E88730;
    transition: height 1s;
    -o-transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -ms-transition: height 1s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#menu_downreturn {
    top: -9px;
    left: 275px;
}
#menu_downreturn:hover {
    cursor: pointer !important;
}
#down_panel_innertext {
    padding: 10px;
    text-align: center;
}





* { /* csslint allow: universal-selector */
    margin: 0;
    padding: 0;
}
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc; /* csslint allow: box-model */
    width: 50%;
    height: 20px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}
.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 20px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.tree li a:hover,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
    border-color:  #94a0b4;
}
#tree_wrapper {
    padding-top: 100px; /* csslint allow: box-model */
    width: 2570px;
    height: 500px;
}
