<!--
	Electrical, Computer, and Software Engineering Students' Society Website
	Copyright (c) 2020 Ines Rosito, All Rights Reserved
-->
<html>
	<head>
		<title>
			ZOO Council
		</title>
		<style>
			img {vertical-align: middle;}
		</style>
		<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
		<link rel="stylesheet" type="text/css" href="../styles/website-template.css">
		<link rel="stylesheet" type="text/css" href="../styles/council-style.css">
	</head>
	
	<body>	
		<%- include('../templates/header.partial.ejs', {}); %>

		<h2 class="meet-us"> Meet the 2019-2020 Executive Council </h2>

		<div class="card">
			<div class="president vp-events first">
				<img class="profile-pic" src="Photos/president.png" alt="Jared" style="width:100%">
				<h1> Jared Brintnell </h1>
				<p class="title"> President </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:president@zooengg.ca"><img title="president@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>
		</div>

		<div class="VP1">
			<div class="card academic">
				<img class="profile-pic" src="Photos/academic.png" alt="Evan" style="width:100%">
				<h1> Evan Krul </h1>
				<p class="title"> VP Academic </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:academic@zooengg.ca"><img title="academic@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>

			<div class="card finance">
				<img class="profile-pic" src="Photos/finance.png" alt="David" style="width:100%">
				<h1> David Parkins </h1>
				<p class="title"> VP Finance </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:finance@zooengg.ca"><img title="finance@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>
		</div>
		
		<div class="VP2">
			<div class="card vp-events">
				<img class="profile-pic" src="Photos/events.png" alt="Bobby" style="width:100%">
				<h1> Bobby Zhou </h1>
				<p class="title"> VP Events </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:events@zooengg.ca"><img title="events@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>
		
			<div class="card external">
				<img class="profile-pic" src="Photos/external.png" alt="Toshi" style="width:100%">
				<h1> Toshi XX </h1>
				<p class="title"> VP External </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:external@zooengg.ca"><img title="external@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>

			<div class="card internal">
				<img class="profile-pic" src="Photos/internal.png" alt="Will" style="width:100%">
				<h1> Will Ehman </h1>
				<p class="title"> VP Internal </p>
				<p class="bio"> Bio bio bi obi bibjoidfjgsiodjg siodfjg sodigjsoig sdoig jsdoijg sdfiogjsdoif gjfdiog jsdoifg jsdfiog jsfdiog jsfdiojg sdfiogj sfdoig jsdiofgjsdio jgsdoifgjs diofgjsdiofg jsdiogj sdfiog dsfiogj dsiofgj sdfoigjsdiof gjsdfoig jsdoig jsfdoigj sdoi jgsdiog </p>
				<div style="margin: 24px 0;">
					<a href="mailto:internal@zooengg.ca"><img title="internal@zooengg.ca" class="mail-pic" src="Photos/mail.png"></a>
				</div>
			</div>
		</div>
		
		<%- include('../templates/footer.partial.ejs', {}); %>
<!--
		<button onclick="topFunction()" id="to-top" title="Go to top">^</button>


		<div class="footer">
			<div class="address">
				Electrical, Computer, and Software<br>
				Engineering Students' Society<br>
				2500 University Drive, ENA 106<br>
				Calgary, Alberta, Canada<br>
				T2N 1N4
			</div>
		
		</div>
-->		
		<script src="../scripts/to-top.js"></script>
	</body>
</html>
