	<button onclick="topFunction()" id="to-top" title="Go to top">^</button>

	<div id="footer">
		<div id="address">
			<h2> Electrical, Computer, and Software
			Engineering Students' Society<br></h2>
			2500 University Drive, ENA 106<br>
			Calgary, Alberta, Canada<br>
			T2N 1N4
		</div>
		<hr>

		<div id="social-media">
			<a href="https://www.linkedin.com/company/zooengg">
				<img class="media-icon" src="/templates/socialMediaIcon/linkedin.png" alt="linkedin">
				</a>
			<a href="https://www.facebook.com/zooengg/">
				<img class="media-icon" src="/templates/socialMediaIcon/facebook.png" alt="facebook">
				</a>
			<a href="https://www.instagram.com/inzoogram/">
				<img class="media-icon" src="/templates/socialMediaIcon/instagram.png" alt="instagram">
				</a>
		</div>

	</div>
