<h1 id="council-name"> Electrical, Computer, and Software Engineering Students' Society </h1>
</div>

<div id="dropdown">
	<nav>
		<img  id="zoo-logo" src="/zoo.png">
		<ul>
			<li><a href="/main/index.html">Home</a></li>
			<li><a href="#">Council</a>
				<ul>
					<li><a href="/council/execs/index.html">Executives</a></li>
					<li><a href="/council/commissioners/index.html">Commissioners</a></li>
					<li><a href="/council/applications/index.html">Applications</a></li>
				</ul>
			</li>
			<li><a href="/events/index.html">Events</a></li>
			<li><a href="#">Sponsors</a>
				<ul>
					<li><a href="/sponsors/our-sponsors/index.html">Our Sponsors</a></li>
					<li><a href="/sponsors/sponsor-forms/index.html">Become a Sponsor</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
