	<h1 class="council-name"> Electrical, Computer, and Software Engineering Students' Society </h1>
	</div>
	<div class="navbar">
        	<img src="../zoo.png" alt="ZOO logo" class="zoo-logo">
                <li><a class="navbox sponsors" href="../sponsors/index.html"> Sponsor Us </a></li>
                <li><a class="navbox events" href="../events/index.html"> Events </a></li>
                <li><a class="navbox council" href="../council/index.html"> Council </a></li>
                <li><a class="navbox home" href="../main/index.html"> Home </a></li>
	</div>
