<h1 id="council-name"> Electrical, Computer, and Software Engineering Students' Society </h1>
</div>

<div id="dropdown">
	<nav>
		<a href="/zoo/index.html"><img  id="zoo-logo" src="/icon-images/zoo.png"></a>
		<div class="vertical-line"></div>
		<ul>
			<li><a href="/main/index.html">HOME</a></li>
			<li><a href="#">COUNCIL<img class="arrow" src="/icon-images/icon-dropdown.png"></a>
				<ul>
					<li class="council-dropdown"><a href="/council/execs/index.html">EXECUTIVES</a></li>
					<li class="council-dropdown"><a href="/council/commissioners/index.html">COMMISSIONERS</a></li>
					<li class="council-dropdown"><a href="/council/applications/index.html">JOIN THE TEAM</a></li>
				</ul>
			</li>
			<li><a href="/events/index.html">EVENTS</a></li>
			<li><a href="#">SPONSORS<img class="arrow" src="/icon-images/icon-dropdown.png"></a>
				<ul>
					<li><a href="/sponsors/our-sponsors/index.html">OUR SPONSORS</a></li>
					<li><a href="/sponsors/sponsor-forms/index.html">BECOME A SPONSOR</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
